/* src/styles/main.css */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

h1, h2, h3 { margin-top: 0; }

#app { min-height: 100vh; }
